.profileButton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 65px;
	line-height: 65px;
	border-radius: 9999px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 98%;
	margin-bottom: 0.75em;
	color: rgb(15, 20, 25);
	padding: 0 16px;
	transition: background-color 0.2s;
  }
  
  .profileButton:hover {
	background-color: rgba(29, 161, 242, 0.1);
  }
  
  .profileButton .content {
	margin: 0.5em;
	height: 50px;
	display: flex;
	flex-direction: row;
	width: 100%;
  }
  
  .profileButton .names {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	line-height: 20px;
	margin-left: 0.5em;
	flex-grow: 1;
  }
  
  .profileButton p {
	margin: 0;
	font-weight: 700;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	height: 1em;
	color: rgb(15, 20, 25);
  }
  
  .ellipse {
	display: flex;
	width: 25px;
	font-size: large;
	line-height: 40px;
  }
  